{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center">{{ user.username }}</h2>
    <h5 class="text-center"> {{ bio.bio }} ----- age:{{ bio.age }}</h5>

    {% if request.user.id == user.id %}
        <div align="center">
            <br/>
            <a href="{% url 'home:post_create' %}" class="btn btn-primary" style="margin-bottom: 20px">Create post</a>
            <a href="{% url 'account:reset_password2' %}" class="btn btn-primary" style="margin-bottom: 20px">reset password</a>
            <a href="{% url 'account:edit_user' %}" class="btn btn-info" style="margin-bottom: 20px">edit profile</a>
        </div>
  {% endif %}

    {% if request.user.id != user.id and not is_following %}
        <a class="btn btn-primary" href="{% url 'account:user_follow' user.id %}" style="margin-bottom: 20px">Follow</a>
    {% elif request.user.id != user.id and is_following %}
        <a class="btn btn-primary" href="{% url 'account:user_unfollow' user.id %}" style="margin-bottom: 20px">Unfollow</a>
    {% endif %}

    <div class="card">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="card-body">{{ post.body|truncatewords:6 }}</a>
        {% endfor %}
    </div>
{% endblock content %}